<button type="submit" data-color="light-blue" class="btn bg-light-blue waves-effect" onclick="spinShow()">Update</button>
<a href="Users/CustomersList?anc=d8KxsjxHLp1lgzEw8TrdjQ%3D%3D" data-color="light-blue" class="btn bg-light-blue waves-effect">Back</a>
