<!DOCTYPE html>
<html>
<head>
</head>
<style type="text/css">
    body {
        background-color: #E1E1E1;
        margin: 0px;
        font-family: "Century Gothic";
        font-size: 10pt;
    }

    .auto-style1 {
        font-size: 20px;
        color: white;
    }
</style>
<body>
    <table class="main-table" border="0" width="80%" cellpadding="0" cellspacing="0" style="border:6px solid #342E54; margin:auto;text-align:center;">
        <tr>
            <td>
                <table border="0" width="100%" cellpadding="0" cellspacing="0" style="background-color:white;padding:10px 20px;text-align:left;">
                    <tr>
                        <td>
                            <h1 style="color:#263867;margin:0px;">Insurance Management System </h1>
                            <p style="color:#263867; font-size:20px; font-family:'Century Gothic'; margin:0px; padding:10px 0px;" class="auto-style1">
                                {title}
                            </p>
                        </td>
                        <td style="text-align:right">
                            <img src="~/assets/images/logo.jpg"  width="200" height="100" alt="" style="width:200px; height:100px;">

                            <!--<img src=cid:logo id="imgLogo" width="200" height="100" alt="" style="width:200px; height:100px;" />-->
                        </td>
                    </tr>

                </table>
                <table style="width:100%; line-height:5px; background-color:#00ADEF; margin:0;" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" width="100%" cellpadding="0" cellspacing="0" style="padding:0px 20px;background-color: #fff;">
                    <tr>
                        <td style="float:left;text-align: left; padding-top:10px; padding-bottom:10px;">
                            <h4>Good day {name},</h4>
                            <p>{msg} </p>


                            </p>
                            <p>Regards,</p>
                            <!--<p><strong>Internal Audit Division</strong></p>-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" style="background-color:white;padding:5px; color:#263867;">
                    <tr>
                        <td>

                            Please do not reply the sender mail. All request
                            and questions
                            should be directed <br>

                            "via phone {+234 700 2000 3000} or e-mail {contactcentre@keystonebankng.com}<br>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>