
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Error @Model.StatusCode</h1>
<p>An error occurred while processing your request.</p>
<p>@Model.ErrorMessage</p>


