@{
    ViewData["Title"] = "Unauthorized";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Unauthorized</h2>
            <p>You do not have permission to access this resource.</p>
        </div>
    </div>
</div>
